@media (min-width: 375px) {
    .createNew {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--thumb-color);
        border-top: 1px solid var(--thumb-color);
        padding: 14px 0;
        width: 100%;
        text-align: center;
        gap: 77px;
    }

    .createBoardBtn {
        background-color: var(--accent);
        color: var(--text-color);
        border-radius: 6px;
        width: 40px;
        height: 36px;
        transition: background-color 200ms linear;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .btnPlus {
        height: 36px;
        stroke: #121212;
    }

    .createText {
        text-align: left;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: var(--text-color);
    }
}


@media (min-width: 768px) {}

@media (min-width: 1440px) {}