.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 14px 0;
  font-size: 14px;
  border: none;

  background-color: var(--accent);
  color: var(--icon-wrapper-btn);
  border-radius: 8px;

  font-weight: 500;
  letter-spacing: -0.02em;
  transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--accentBtn);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 7px;
  border-radius: 6px;
  background-color: var(--icon-wrapper-btn);

  margin-right: 8px;
}

.icon {
  width: 14px;
  height: 14px;
  stroke: var(--logo-icon);
}

.text {
  display: inline-block;
}

.withIcon {
  padding: 10px 0;
}

@media (min-width: 1440px) {
  .withIcon {
    padding: 14px 0;
  }
}
