.list_item {
  width: 100%;
  min-height: 62px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--title-item);
  stroke: var(--third-text-color);
  padding: 20px 24px;
  justify-content: space-between;
  position: relative;

  & button {
    display: none;
  }
}

.title {
  margin-right: auto;
}
.icon {
  stroke: inherit;
  color: var(--text-color) !important;
}

.list_item.active button svg {
  stroke: var(--board-item-active-icon) !important;
}

.icon_color {
  color: var(--text-color);
}

.board_style {
  stroke: var(--title-item);
}
