.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

.mainImage {
  margin-bottom: 14px;
}

.iconProject {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}

.iconName {
  fill: var(--logo-icon);
  background-color: var(--text-color);
  border-radius: 8px;
  padding: 8px 10px;
}

.projectName {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}

.description {
  margin-bottom: 48px;
  width: 335px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: center;
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .description {
    width: 473px;
  }
}

.register {
  display: flex;
  width: 335px;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--text-color);
  margin-bottom: 14px;
  color: var(--logo-icon);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  &:hover,
  &:focus {
    background-color: #161616c5;
  }
}

@media only screen and (max-width: 374px) {
  .register {
    width: 90vw;
  }
  .description {
    width: 90vw;
  }
}

@media only screen and (min-width: 768px) {
  .register {
    width: 344px;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  &:hover,
  &:focus {
    color: #161616c5;
  }
}
