.priority-picker-form-control {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.priority-picker-radio {
  position: relative !important;
  padding: 0 !important;
  transform: scale(0.8) !important;
}

.priority-picker-radio:before {
  position: absolute !important;
  content: '' !important;
  display: block !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  border: 9px solid transparent !important;
  z-index: 5 !important;
}

.priority-picker-radio-none:before {
  background-color: #c9b7b7 !important;
  border-color: #c9b7b7 !important;
}

.priority-picker-radio-low:before {
  background-color: #8fa1d0 !important;
  border-color: #8fa1d0 !important;
}

.priority-picker-radio-medium:before {
  background-color: #e09cb5 !important;
  border-color: #e09cb5 !important;
}

.priority-picker-radio-high:before {
  background-color: #bedbb0 !important;
  border-color: #bedbb0 !important;
}

.priority-picker-radio.Mui-checked:before {
  display: none !important;
}

.priority-picker-radio.Mui-checked {
  transform: scale(0.9) !important;
}

.priority-picker-radio .MuiTouchRipple-root {
  display: none !important;
}

.priority-picker-radio-none {
  color: #c9b7b7 !important;
}

.priority-picker-radio-low {
  color: #8fa1d0 !important;
}

.priority-picker-radio-medium {
  color: #e09cb5 !important;
}

.priority-picker-radio-high {
  color: #bedbb0 !important;
}
