.newBoardContainer {
  border-radius: 8px;
  /* min-width: 335px; */
  /* min-height: 433px; */
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
}

.newBoardTitle {
  font: 500 18px 'Poppins', sans-serif;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 24px;
}

.newBoardTitleInput {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  min-width: 287px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  font: 400 14px 'Poppins', sans-serif;
  letter-spacing: -0.02em;
  color: #161616;
  padding: 14px 18px;
  margin-bottom: 24px;
}
.iconText {
  font: 500 14px 'Poppins', sans-serif;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 14px;
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 8px;
}
.iconLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}
.iconLabel input[type='radio'],
.backgroundLabel input[type='radio'] {
  display: none;
  
}

.iconLabel input[type='radio']:checked + svg {
  stroke: #161616;
  fill: none;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: rgba(22, 22, 22, 0.5);
  fill: none;
  transition: fill 0.3s ease;
}

.backgroundText {
    font: 500 14px 'Poppins', sans-serif;
    letter-spacing: -0.02em;
    color: #161616;
    margin-bottom: 14px;
  }


  .backgroundsContainer {
    display: flex;
    flex-wrap: wrap;  
    gap: 4px;   
    justify-content: flex-start;
    width: 252px;
    margin-bottom: 40px;
  }
  
  .backgroundLabel {
    width: calc(12.5% - 4px); 
    cursor: pointer;
  }
  
  .backgroundImage {
    width: 28px;
    height: 28px;
    transition: border 0.3s ease;
    border-radius: 6px;
  }
  
  /* input[type="radio"]:checked + .backgroundLabel .backgroundImage {
    border: 5px solid #bedbb0;
  } */

  .selected .backgroundImage {
    border: 3px solid #bedbb0;
  }

.createBtn {
    border-radius: 8px;
    width: 302px;
    height: 49px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #bedbb0;
}

.createBtn:hover,
.createBtn:focus {
  background-color: #9dc888;
}
