.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--sidebar-background-color);
  width: 225px;
  padding: 14px;
  transition: all ease-in-out 300ms;
}

.sidebarFirst {
  height: 1000px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}



.mobile {
  position: fixed;
  z-index: 99;
}


.sidebarOpen {
  transform: translateX(0);
}

.sidebarClose {
  transform: translateX(-150%);
}

.sidebarTitle {
  text-align: left;
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.5);
}

.sidedbarLogout {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  padding-bottom: 24px;
}

.logoutBtn {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0;
  width: 150px;
  height: 32px;
}

.iconlogout {
  fill: none;
  stroke: #bedbb0;
  height: 32px;
  width: 32px;
}

.textLogout {
  font-size: 14px;
  color: #161616;
  font-weight: 500;
}





@media (min-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 260px;
    padding: 24px;
    /* overflow: hidden; */
  }
}

@media (min-width: 1440px) {

  .sidebar {
    /* justify-content: flex-start; */
  }
}