/* Стилі для контейнера інпута */
.customDatePickerInput {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  box-shadow: none;
  font-family: inherit;
}

.customDatePickerInput input {
  font-size: 16px;
  color: #bedbb0;
  text-align: left;
  cursor: pointer;
  padding: 0px;
  user-select: none;
}

/* Кастомізація виділення тексту */
.customDatePickerInput input::selection {
  background: transparent;
  color: inherit;
}

/* Стилі для елементів, які не повинні відображатися */
.customDatePickerInput .MuiInputAdornment-root,
.customDatePickerInput .MuiInputBase-root::before,
.customDatePickerInput .MuiInputBase-root::after {
  display: none;
}

/* Стилізація панелі з кнопкою року */
.yearButton {
  color: #1565c0;
  border-radius: 2px;
  border-color: #2196f3;
  border: 1px solid;
  background-color: #90caf9;
}

/* Стилізація календаря */
.calendarHeader {
  border-bottom: 1px solid red;
}
